$primary-color: #000;
$secondary-color: #fd6608;
$edu-white: #f4f4f4;
$dim-gray: #656565;
$gray-color: #888;
$white-color: #fff;
$black-color: #000;
$hover-color: #e8491d;
$required-color: #dd6666;
$light-black: #2d2d2d;
$dark-charcoal: #333;
$chinese-silver: #ccc;
$blue-romance: #d1d6ee;
$surf-crest: #bbc1e1;
$dodger-blue: #0075ff;
$dove-gray: #666;
$soft-orange: #fdb68a;
$orange-color: #fc8236;
$dark-gray: #222;
$font-stack: 15px/1.5 Arial, Helvetica, sans-serif;

body {
  font: $font-stack;
  background-image: url("../img/bg-grey.png");
  background-position: left top;
  background-size: auto;
  background-repeat: round;
  background-attachment: scroll;
  line-height: 1.6;
}
h1 {
  font-size: 36px;
  color: $hover-color;
}
h2 {
  color: $hover-color;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: $hover-color;
  &:hover {
    color: $hover-color;
    text-decoration: underline;
  }
}
#container {
  background-color: $white-color;
  border: 8px solid $primary-color;
  margin: 8px auto;
  box-shadow: 0 0 8px $primary-color;
  max-width: 100%;
  width: 976px;
  box-sizing: border-box;
}
.f-wrapper {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.menu-items li {
  display: inline-flex;
  height: 2.7em;
  line-height: 2.5em;
}
